primaryBlue  = rgb(0 154 219)
primaryOrange = rgb(255 164 0)
primaryRed = rgb(253 51 23)
secondaryBlue = rgb(0 110 186)

*
  font-family -apple-system, BlinkMacSytemFont, sans-serif
  box-sizing border-box

body
  margin 0
.tn
  display flex
  margin 0
  padding 1em 0 1em 1em
  justify-content center
  background linear-gradient(to bottom, white 50%, #f8f8f8 80%, #ededed)
  border-bottom 1px solid gray
  a
    text-decoration none
    font-weight 500
    color primaryBlue
    padding 0 1em
    text-transform uppercase
    transition all 0.2666s
    &:visited, &:active
      color primaryBlue
    &:not(:last-of-type)
      border-right 2px solid rgb(secondaryBlue)
    &:hover
      color primaryOrange
  @media screen and (max-width: 414px)
    flex-wrap wrap
    padding 0.5em 1em
    a
      flex-basis 40%
      padding-bottom 3px
      &:not(:last-of-type)
        border-right 0px solid rgb(secondaryBlue)
      &:nth-child(odd)
        border-right 1px solid rgb(secondaryBlue)



.ccs
  display flex
  padding 0.5em
  justify-content center
  align-items stretch
  flex-wrap wrap
  margin 0
  background linear-gradient(to bottom, white 15%, rgb(225,225,225) 70%, rgb(200,200,200))

.ccs-card
  diplay flex
  align-items center
  max-width 4em
  border-radius 3px
  border 1px solid rgb(150, 150, 150)
  margin 0.4em 0.4em
  text-decoration none
  transition all 0.2888s
  background rgba(255,255,255,0)
  &:hover
    box-shadow 0 0 8px secondaryBlue
    transform scale(1.6)
    border 1px solid secondaryBlue
    background rgba(255,255,255,1)
  img
    margin 0
    width 62px
    height 127px
    object-fit contain

.hero
  width 100%
  heigth auto
  @media screen and (max-width: 414px)
    display none

.container
  max-width 50em
  display flex
  margin 0 auto
  padding 1em
  @media screen and (min-width: 641px)
    padding 1em 0
    margin 0 1em
  @media screen and (min-width: 845px)
    margin 0 auto

.left-hand
  background rgba(255, 255, 255, 0.6)

.cr-description
  // text-shadow 2px 2px 2px white
  margin-right 1em
  @media screen and (min-width: 641px)
    margin-right 0

.cr-power
  align-self flex-end

.cr-power-bars
  height 5em
  width 3em

.cr-power-description
  font-weight 600

.cr-name
  width 100%
  height auto
  padding 0em 1em
  max-width 20em

.cr-container
  position absolute
  right 0
  overflow hidden
  z-index -1
  @media screen and (min-width: 641px)
    position relative
    width 100%
    order 1

.cr-container-tedo
  position absolute
  right 0
  top 290px
  overflow hidden
  z-index -1
  @media screen and (min-width: 641px)
    position relative
    width 100%
    top 60px
    order 1

.cr-avatar
  transform translate3d(150px, 50px, 0)
  @media screen and (min-width: 641px)
    transform translate3d(0, 0, 0)
    width 100%

.cr-avatar-violeta
  transform translate3d(35px, 50px, 0)
  @media screen and (min-width: 641px)
    width 100%
    transform translate3d(0, 0, 0)

.cr-avatar-tedo
  transform translate3d(25px, 0, 0)
  @media screen and (min-width: 641px)
    transform translate3d(0, 50px, 0)
    width 100%

.cr-container-skator
  overflow-x hidden
  overflow-y visible
  @media screen and (min-width: 641px)
    overflow visible

.cr-avatar-skator
  transform translate3d(150px, 50px, 0)
  @media screen and (min-width: 641px)
    transform translate3d(-110px, 0, 0)
    width 200%

.cr-container-aura
  @media screen and (min-width: 641px)
    overflow visible

.cr-avatar-aura
  transform translate3d(150px, 50px, 0)
  @media screen and (min-width: 641px)
    transform translate3d(-90px, 0, 0)
    width 140%

.cr-container-bicky
  @media screen and (min-width: 641px)
    overflow visible

.cr-avatar-bicky
  transform translate3d(80px, 70px, 0)
  width 120%
  @media screen and (min-width: 641px)
    transform translate3d(-100px, 10px, 0)
    width 160%
